---
import Code from '../assets/iconsExperiencia/code.svg';
import Book from '../assets/iconsExperiencia/book.svg';
import Laptop from '../assets/iconsExperiencia/laptop.svg';
---
<div class="bg-bg-porfolio font-mono sm:min-h-[25rem] min-h-[28rem]">
        <div class="flex flex-wrap sm:flex-row justify-between w-8/12 m-auto text-color-text mb-5">
            <div class="border-2 border-solid border-text-color-Download rounded-lg w-full sm:w-3/12  min-h-32 flex flex-col items-center mb-5">
                <div>
                    <Laptop class="w-12"></Laptop>
                </div>
                <p class="text-xl text-center h-full m-auto">+3 proyectos</p>
            </div>
            <div class="border-2 border-solid border-text-color-Download rounded-lg  w-full sm:w-4/12  min-h-32 flex flex-col items-center mb-5">
                <div>
                    <Code class="w-12"></Code>
                </div>
                <p class="text-xl text-center h-full m-auto ">+1 de año de experiencia</p>
            </div>
            <div class="border-2 border-solid border-text-color-Download rounded-lg w-full sm:w-3/12  min-h-32 flex flex-col items-center mb-5">
                <div>
                    <Book class="w-12"></Book>
                </div>
                <p class="text-xl text-center h-full m-auto">+5 años de <br> estudios</p>
            </div>
        </div>
        <div class="hidden sm:flex justify-between items-center w-8/12 m-auto text-color-text border-2 border-solid border-text-color-Download rounded-lg min-h-20 bg-bg-content">
            <div class="w-3/12">
                <p class="text-center">Proyectos de servicios web y Administración</p>
            </div>
            <div class="w-3/12">
                <p class="text-center">Experiencia en empresas y proyectos de sector</p>
            </div>
            <div class="w-3/12">
                <p class="mr-1 text-center">Ingeniería y bootcamps en el sector del desarrollo de software</p>
            </div>
        </div>
</div>