---
import Linkedin from '../assets/linkedin.svg'
import GitHub from '../assets/github.svg'
---
<div class="bg-slate-900">
   <div class="min-h-20 w-4/12 m-auto flex justify-around items-center [&>*]:w-12">
    <a href="http://www.linkedin.com/in/esteban-villa-monsalve-a6511a175" target="_blank">  
    <Linkedin></Linkedin>
   </a>
   <a href="https://github.com/esteban-villa " target="_blank">
    <GitHub></GitHub>   
   </a>
         
    </div> 
</div>

