---
import Angular from "../assets/tecnologias/angular.svg";
import Bootstrap from "../assets/tecnologias/bootstrap.svg";
import CSS from "../assets/tecnologias/css.svg";
import AstroSVG from "../assets/tecnologias/astro.svg";
import HTML from "../assets/tecnologias/html.svg";
import JS from "../assets/tecnologias/js.svg";
import Figma from "../assets/tecnologias/figma.svg";
import Git from "../assets/tecnologias/git.svg";
import GitHub from "../assets/tecnologias/github.svg";
import Python from "../assets/tecnologias/python.svg";
import SQL from "../assets/tecnologias/sql.svg";
import Tailwind from "../assets/tecnologias/tailwind.svg";
import Typescript from "../assets/tecnologias/typescript.svg";
import Postman from '../assets/tecnologias/postman.svg'
---
<div class="bg-bg-porfolio font-mono min-h-[25rem]">
    <div class="w-10/12 mg:w-8/12 m-auto flex flex-col items-center  text-color-text">
        <p class="border 2 border-text-color-Download rounded-xl w-28 text-center h-8 text-color-text-relevant mt-5 mb-5">💪 Skills</p>
        <p class="text-3xl text-center mb-5">Tecnologías y habilidades</p>
        <!--<p class="text-2xl mb-5">lenguajes y Herramientas</p>-->
        <div>
            <div class="flex flex-wrap justify-center items-center [&>*]:w-16 [&>*]:m-4 [&>*]:bg-bg-content [&>*]:border 2 [&>*]:rounded-lg [&>*]:border-text-color-Download [&>*]:p-2">
                <JS class="transition-transform duration-200 ease-in-out hover:scale-150"></JS>
                <Python class="transition-transform duration-200 ease-in-out hover:scale-150"></Python>
                <Typescript class="transition-transform duration-200 ease-in-out hover:scale-150"></Typescript>
                <Angular class="transition-transform duration-200 ease-in-out hover:scale-150"></Angular>
                <Tailwind class="transition-transform duration-200 ease-in-out hover:scale-150"></Tailwind>
                <Bootstrap class="transition-transform duration-200 ease-in-out hover:scale-150"></Bootstrap>
                <HTML class="transition-transform duration-200 ease-in-out hover:scale-150"></HTML>
                <CSS class="transition-transform duration-200 ease-in-out hover:scale-150"></CSS>
                <AstroSVG class="transition-transform duration-200 ease-in-out hover:scale-150"></Astro>
                <SQL class="transition-transform duration-200 ease-in-out hover:scale-150"></SQL>
                <Postman class="transition-transform duration-200 ease-in-out hover:scale-150"></Postman>
                <Figma class="transition-transform duration-200 ease-in-out hover:scale-150"></Figma>
                <Git class="transition-transform duration-200 ease-in-out hover:scale-150"></Git>
                <GitHub class="transition-transform duration-200 ease-in-out hover:scale-150"></GitHub>
            </div>
        </div>
    </div>
</div>
