---
import LaUrl from '../assets/laUrl.png'
import Link  from '../assets/link.svg'
import GitHub from '../assets/tecnologias/github.svg'
import Angular from "../assets/tecnologias/angular.svg";
import HTML from "../assets/tecnologias/html.svg";
import CSS from "../assets/tecnologias/css.svg";
import Typescript from "../assets/tecnologias/typescript.svg";
import JS from "../assets/tecnologias/js.svg";
import Logo from '../assets/logo.svg';
import Book from '../assets/iconsExperiencia/book.svg';
import Code from '../assets/iconsExperiencia/code.svg';
import Laptop from '../assets/iconsExperiencia/laptop.svg';
import IBM from '../assets/tecnologias/ibm.svg'
import Python from '../assets/tecnologias/python.svg'
import Postman from '../assets/tecnologias/postman.svg'
---
<div class="bg-bg-porfolio font-mono min-h-[80rem]">
    <div class="w-10/12 m-auto text-color-text flex flex-col justify-center items-center mb-8">
        <p class="border 2 border-text-color-Download rounded-xl w-36 text-center h-8 text-color-text-relevant mt-5 mb-5">🚀 Trayectoria</p>
        <p class="text-4xl mb-5">Trayectoria</p>
        <p class="text-center">Desde el 2019, he trabajado en diferentes proyectos de desarrollo web, tanto en el ámbito personal como profesional.</p>
    </div>
    <div class="w-full md:w-10/12  m-auto text-color-text flex flex-wrap md:flex-row justify-around items-baseline">
        <div class="w-full md:w-1/2 flex flex-col justify-center items-center">
            <p class="text-3xl mb-5">Área profesional</p>

            <!-- Cards -->
            <div class=" flex flex-col justify-center items-center border 2 border-text-color-Download rounded-xl w-2/3 p-3 mb-5 hover:bg-bg-content">
                <img src={LaUrl.src} alt="LaUrl" class="rounded-xl mb-2"/>
                <p class="text-2xl mb-2">laUrl.co</p>
                <p class="text-center">laUrl.co es la solución perfecta para quienes buscan una manera práctica y eficiente de manejar sus URLs largas.</p>
                <div class="w-full flex justify-around items-center mt-2 [&>*]:w-8">
                    <Angular class=""></Angular>
                    <HTML class=""></HTML>
                    <CSS class=""></CSS>
                    <JS class=""></JS>
                    <Typescript class=""></Typescript>
                </div>
                <div class="w-full flex justify-around items-center mt-3">
                    <a href="https://laurl.co" target="_blank"  class="">
                        <Link class="w-10"></Link>
                    </a>
                    <a href="https://github.com/esteban-villa/LaUrl.co" target="_blank">
                        <GitHub class="w-10"></GitHub>
                    </a>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center border 2 border-text-color-Download rounded-xl w-2/3 p-3 mb-5 hover:bg-bg-content">
                <Link class="w-32"></Link>
                <p class="text-2xl text-center mb-2">API para acortar URLs</p>
                <p class="text-center">La API que está en desarrollo ofrece acortamiento de URLs, personalización de dominios y análisis detallados de clics.</p>
                <div class="w-1/3 flex justify-between items-center mt-2 [&>*]:w-8">
                    <Python class=""></Python>
                    <Postman class=""></Postman>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center border 2 border-text-color-Download rounded-xl w-2/3 p-3 mb-5 hover:bg-bg-content">
                <Laptop class="w-32"></Laptop>
                <p class="text-2xl text-center mb-2">Gestor de carga de contenido</p>
                <p class="text-center">Prácticas laborales, trabajé como gestor de carga de contenido en la plataforma WebSphere para diferentes páginas web</p>
                <div class="w-full flex justify-around items-center mt-2 [&>*]:w-8">
                    <IBM class=""></IBM>
                    <HTML class=""></HTML>
                    <CSS class=""></CSS>
                    <JS class=""></JS>
                    
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/2 flex flex-col justify-center items-center">
            <p class="text-3xl mb-5">Académica</p>

            <div class="flex flex-col justify-center items-center border 2 border-text-color-Download rounded-xl w-2/3 p-3 mb-5 hover:bg-bg-content">
                <Code class="w-32">  </Code>
                <p class="text-2xl text-center mb-2">Desarrollo Front-End</p>
                <p class="text-center">Actualmente estoy realizando este estudio en la universidad EAFIT</p>
                <!--
                <div class="w-full flex justify-around items-center mt-2 [&>*]:w-8">
                    <Angular class=""></Angular>
                    <HTML class=""></HTML>
                    <CSS class=""></CSS>
                    <JS class=""></JS>
                    <Typescript class=""></Typescript>
                </div>
                <div class="w-full flex justify-around items-center mt-3">
                    <a href="https://laurl.co" target="_blank"  class="">
                        <Link class="w-10"></Link>
                    </a>
                    <a href="https://github.com/esteban-villa/LaUrl.co" target="_blank">
                        <GitHub class="w-10"></GitHub>
                    </a>
                </div> -->
            </div>

            <div class="flex flex-col justify-center items-center border 2 border-text-color-Download rounded-xl w-2/3 p-3 mb-5 hover:bg-bg-content">
                <Logo class="w-32">  </Logo>
                <p class="text-2xl text-center mb-2">Ingeniería Software</p>
                <p class="text-center">En el 2022 comencé a estudiar en el politécnico Grancolombiano</p>
                <p class="text-center">Actualmente me encuentro en espera de título</p>
                <!--
                <div class="w-full flex justify-around items-center mt-2 [&>*]:w-8">
                    <Angular class=""></Angular>
                    <HTML class=""></HTML>
                    <CSS class=""></CSS>
                    <JS class=""></JS>
                    <Typescript class=""></Typescript>
                </div>
                <div class="w-full flex justify-around items-center mt-3">
                    <a href="https://laurl.co" target="_blank"  class="">
                        <Link class="w-10"></Link>
                    </a>
                    <a href="https://github.com/esteban-villa/LaUrl.co" target="_blank">
                        <GitHub class="w-10"></GitHub>
                    </a>
                </div> -->
            </div>

            <div class="flex flex-col justify-center items-center border 2 border-text-color-Download rounded-xl w-2/3 p-3 mb-5 hover:bg-bg-content">
                <Book class="w-32">  </Book>
                <p class="text-2xl text-center mb-2">Tecnología en análisis y desarrollo de sistemas de información</p>
                <p class="text-center">Entre el 2020 - 2022 realicé este estudio en el SENA en la sede de salada, Caldas, Antioquia.</p>
                <!--
                <div class="w-full flex justify-around items-center mt-2 [&>*]:w-8">
                    <Angular class=""></Angular>
                    <HTML class=""></HTML>
                    <CSS class=""></CSS>
                    <JS class=""></JS>
                    <Typescript class=""></Typescript>
                </div>
                <div class="w-full flex justify-around items-center mt-3">
                    <a href="https://laurl.co" target="_blank"  class="">
                        <Link class="w-10"></Link>
                    </a>
                    <a href="https://github.com/esteban-villa/LaUrl.co" target="_blank">
                        <GitHub class="w-10"></GitHub>
                    </a>
                </div> -->
            </div>

        </div>
    </div>
</div>